---
title: Clothing Accessories Judging Criteria
subtitle: (Revised 11/00)
---
<p>An entry consists of a piece that is meant to accompany a costume that is not essential to the costume's existence; however, the addition of such adds a nice ambiance. Possible accessories include shoes, ruffs, cuffs, hats, headgear, gloves, bags, belts, scabbards, possibly underwear, made or constructed jewelry, etc. No weapons, no underwear in bad taste. A matched pair (Ex. shoes, gloves) counts as one item. Individual items may be entered in appropriate categories. (Metalwork, Embroidery, etc.) Emphasis is on appropriate period look. Entrant must specify source of any patterns, templates, etc. used</p>
<p>DOCUMENTATION(3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, use in period, etc), visual and descriptive references (books, portraits, etc.) from reliable sources<br />
• Artistic design</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0: Totally out of period and blatantly modern (cavalry gauntlets, tennis shoes, use of plastic, fake leather without documentation)<br />
• 1: Out of period piece, but some knowledge of what would have been correct.<br />
• 2: Period elements combined in obviously inauthentic fashion within individual piece or combined 2 time periods.<br />
• 3: Set and piece look authentic, but include inauthentic elements in design, materials, colors, etc. (theater costume)<br />
• 4: A piece that looks period, but has major flaws in cut and material, ( Ex. velvet on a Viking tunic, machine lace, plastic canvas, use of hot glue).<br />
• 5-6: Authentic in look and feel; materials either period or exceptionally close, construction appropriate to period.<br />
• 7-8: Minor flaws in cut and construction but knowledge of construction demonstrated. (Use and cut of faceted jewels before 1500, polyester fabrics, or machine embroidery.<br />
• 9-10: Above, plus special effort to achieve total period effect (Ex. all hand-done with period techniques); special effort to make entirely authentic and appropriate</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship based on the following:<br />
• Scope of endeavor ( # of pieces, size in relation to detail, etc.)<br />
• Variety of techniques attempted (i.e. gems, embroidery, lace and handwork)<br />
• Difficulty of techniques attempted<br />
• Difficulty and variety of materials used<br />
• Extent of original work (in patterns, etc.)</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale 1-10, based on the following:<br />
• Straightness of seams, evenness of stitches, technical: finishing, construction, neatness etc.<br />
• Finished edges, partial lining, well cut and fits, handwork on decorations.<br />
• Fully lined (if called for) special touches on augmentation and trim, handwork other than hems. Neat in appearance.<br />
• Design: aesthetics, proportion, patterns, colors, etc. Does it work together?<br />
• Functionality: do pieces do what they're supposed to do? Will they hold up?<br />
• Choice and handling of materials<br />
• Extras such as lining, hand-sewn trim, special embellishments or personalization</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>