---
title: Instrumental Musical Performance Judging Criteria
---

Music written out of period (Ex. by an SCA member) in completely authentic style is acceptable for purposes of performance</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one page should be more than enough, not including visuals and bibliography. 2 pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Composer / Identification / description / use of the entry. Date and place/country of origin entry is modeled on. Reference and copy of music.<br />
• Materials used in the project (instruments and music<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc.) Description of musical form, variations and deviations from period norms or discussion of logic applied to design of entry.<br />
• Artistic design identifying time period the piece characterizes. Consider music, medium and performance practice as they relate to period, style, form, national/regional characteristics, sacred or secular application, use of ornamentation, diminution, embellishment, etc.</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0: Piece performed is not original and not period; if original, the piece does not resemble a period style/form.<br />
• 1: Piece shows several non-period elements (i.e., modern harmony/melody/rhythm).<br />
• 2: Music period; medium or style modern without adaptations to imitate period.<br />
• 3: Piece shows few non-period elements.<br />
• 4: Music period; medium or style modern with adaptations to imitate period (Ex., adjusted tunings, bowing or plucking techniques; use of mutes; special arrangements or transcriptions, etc.).<br />
• 5-6: No non-period elements in the piece itself, but the style or use of instrumentation is inappropriate (Ex., using a soprano recorder and a trumpet in a duet).<br />
• 7-8: Music and medium or style both period. No obvious non-period elements in the piece itself or in the instrumentation.<br />
• 9-10: #8 plus special attention to visual and physical considerations (Ex. transcribed or performed from original manuscript or print OR modern critical source transcribed into period notational form; attention to physical details such as dress, music stand, etc.).</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the performance, scale of 1-10. Consider such points as: variations in rhythm, tempo, meter; rhythmic complexity, ornamentation, diminution, embellishment, passaggi; reading from manuscript; "old" notational forms, neumes, tablature; implied or editorial interpretation; melodic shape or contour, phrasing; dexterity or agility required; special tunings and key complexity; bowing, plucking; stylistic and structural elements; blend, balance.<br />
• The music as written.<br />
• Instrumental techniques attempted.<br />
• Scope of endeavor (length, number in group, number of elements combined).</p>
<p>Solo<br />
• 1-2: Wind -- Very easy melody; range less than an octave; few rhythmic values.<br />
String -- Very easy piece; no double stops, if bowed.<br />
• 3-4: Wind -- Easy melody with a little more rhythmic variety or some leaps.<br />
String -- Easy piece or one with a slow meter, but a little more rhythmic or chordal activity.<br />
• 5-6: Wind -- Melody of over an octave and/or demonstrating more rhythmic variety and leaps.<br />
String -- Piece combines several rhythmic values; larger and/or more frequent chords; more than one left hand position required.<br />
• 7-8: Wind -- More complex rhythms and/or difficult melodic shape; little or no syncopation required, but careful attention to rhythm is needed.<br />
String -- Same, but more chords may be added or more left-handed movement.<br />
• 9-10: Wind -- Some ornamentation (trills, etc.) either written or improvised OR a more demanding/syncopated rhythm or awkward or large melodic leaps.<br />
String -- Same, but more chords may be added or more left-handed movement.</p>
<p>Group<br />
• 1:**Two or more players will automatically receive at least 2 points**<br />
• 2:Very easy duets; simple melody plus chordal accompaniment; very little rhythmic variety.<br />
• 3:Easy duet; range of an octave in each part; no complex rhythms or excessive leaps. (Ex: "Greensleeves" 2-part.)<br />
• 4:More difficult duet which requires more attention to coordination of rhythm -- contrapuntal; OR more difficult melodic lines, some leaps.<br />
• 5:More difficult duet or a very easy trio. (Ex: "Greensleeves" 3-part.)</p>
<p>PERFORMANCE replaces "WORKMANSHIP" on the score sheet. (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution (performance) and success of the entry on a scale of 1-10. Refer to the list of "Workmanship Criteria" which follows. Judge based on the following:<br />
• 1-2: Does not succeed in any of the 4 areas.<br />
• 3-4: Handles 1 area reasonably well.<br />
• 5-6: Handles 2 areas reasonably well.<br />
• 7-8: Demonstrates proficiency in one area, competency in at least 2 others.<br />
• 9: Demonstrates proficiency in two areas, competency in at least 2 others.<br />
• 10: Demonstrates proficiency in three areas, competency in the fourth area.</p>
<p>Workmanship Criteria<br />
• 1:Intonation and Technique: A good sense of pitch, articulation, and fluency. With stringed instruments, keeping the strings well tuned, flexibility, bowing and plucking; with wind instruments, maintaining good embouchure -- a clean accurate pitch.<br />
• 2:Tone: Defined as sound or timbre pleasing to the ear. The words associated with this term might be "evenness" and "direction". In ensemble playing, the coordination of individual sounds in order to make an effective blend should be highly considered. Also, balance of parts should come under the heading. No one instrument should stick out overly much. Vibrato should not be used if inappropriate to the period or style of the music. Overall tone quality, blend, and balance.<br />
• 3:Rhythmic Integrity and musical effect: "Integrity" applies to a sensitivity to the main pulse of the music. Too much rushing and slowing down will tend to distract from good communication of the music and is quite noticeable. Ensembles particularly need to pay attention to rhythm in order to maintain cohesiveness. How skilled in phrasing and melodic sensitivity, artistry, expressive and musical feeling?<br />
• 4:Musicianship: Sensitivity to all aspects of execution in order to make an effective musical result: phrasing, dynamics (good sense of loud and soft singing), good attack. Anything that will convey a sense of security in the performance and will not distract the listener. This should portray the performer's mental preparation of the music Has the performer thought carefully of how the music should be done? Stage presence, posture, and showmanship?</p>
<p><B>NOTE: Additional points may be given for: Addition of ornamentation; Use of facial or other physical motions to convey the performer's interpretation of the piece to the audience; Creative use of instrumentation in ensemble; Transposition of piece into new key; Some musical adaptations have been made (i.e., music arranging); Creative use of musical devices through phrasing, dynamics, tempo, etc.; Attention to "periodness", especially instrument construction or adaptation; original composition or embellishment; instrumentation; physical setup (dress or livery, stand construction, seating, music manuscript or folder, etc.).</b></p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>