---
title: Research Paper Judging Criteria
---

Entry is a modern scholarly paper on any aspect of medieval studies. Entries must be typed, in modern essay format, with bibliography, notes, etc., as needed. Historical "summary" research (Ex. a synopsis of the Battle of Agincourt, a biography of Charlemagne) will be accepted. NOTE: Unlike other categories, which encourage the production of artifacts suitable to medieval standards, Research Papers seeks entries within a mundane context. Criteria areas have thus been modified accordingly.</p>
<p>TOPIC (1 – 15 points.) Evaluate the subject matter or research question, and its appropriateness to SCA context. Do not consider presentation.</p>
<p>    * Does topic relate directly to the period 600-1600 C.E. (Topics dealing with earlier periods are acceptable if researcher demonstrates the direct impact of the topic on the SCA period.)<br />
    * Is the topic well defined?<br />
    * Originality. Does topic cover new ground? Does it suggest a new view or approach?<br />
    * Applicability. Is research of potential use to other SCA members studying the subject?</p>
<p>SOURCES AND RESEARCH (3 - 30 points. SCORED 1-10 then MULTIPLY BY 3) Evaluate source use, primary research, choice of research methods, etc. DO NOT judge any conclusions drawn; consider only the validity of the research on which the conclusions are based.</p>
<p>    * Thoroughness of background investigation: did researcher pursue available avenues of information, within reason? Did he use primary sources if readily available? Well documented secondary and tertiary sources are perfectly acceptable. A one- or two- source paper must provide valid reasons why only one or two sources were used.<br />
    * Internal validity: are sources or research methods used correctly? Are facts presented accurately? Are quotes and other materials taken in proper context?<br />
    * External validity: Has the author checked and bibliographically cited recent research in the topic, if applicable?<br />
    * Extent of methods: Use of research methods other than library research, such as re-creative experimentation (Ex. following period recipes to verify techniques), "live" examination of period artifacts (Ex. using a microscope to identify fibers from a period piece of needlework), mathematical content analysis (Ex. to determine relative frequencies of layout styles in different schools of illumination), etc. Some topics do not lend themselves to the scientific method or recreation, or the author may have been prevented from such recreation. If the author explains such limitations in an appendix, entrant should be given credit for the point.</p>
<p>COMPLEXITY (3-30 points. SCORE 1-10 then MULTIPLY BY 3)</p>
<p>    * 0:Regurgitation approach: Researcher recites facts drawn mostly from one source, with little or no attempt to reorganize or analyze material.<br />
    * 1 – 2: Summary approach: Researcher collects facts from a number of sources and organizes them in some manner (chronologically, by category, etc.), object is to gather and present known ideas in a useful way, but not to develop new ideas.<br />
    * 3 - 5: Synthesis approach: Researcher collects data from a number of sources, correlates it, and attempts to draw logical conclusions from the resulting relationships.<br />
    * 6 - 8: Thesis approach: Researcher proposes a question or opinion, collects and analyzes data, draws a conclusion, and presents that conclusion with relevant data to support it. Object is to present and prove an original idea.<br />
    * +1: Supporting materials illustrations, artifacts, charts, graphs, etc.)<br />
    * +1: Extent of original ideas, any exceptionally complex methods (live re-creation, etc.)</p>
<p>READABILITY (1-15 points) Evaluate the writing style, logic, etc, based on the following:</p>
<p>    * grammar, punctuation, spelling<br />
    * organization<br />
    * clarity<br />
    * Format: development of theme, subject, or thesis<br />
    * Sources--includes a reference sheet bibliography and cites sources in a standard format (endnotes, footnotes, parenthetical, MLA, etc.).</p>
<p>AESTHETIC VALUE (1-10 points) . Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed. This is the 'wow' factor; following are some examples to consider, but the category is not limited to these.</p>
<p>    * Unique or outstanding display or attempt at period presentation (Renaissance or period style book binding, etc.)<br />
    * Unique or outstanding display or attempt at period presentation<br />
    * Able to shed new light on old subject<br />
    * Outstanding literary or historical work</p>